body {
    font-family: 'Brush Script MT', cursive;
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

.menu {
    background-color: #14c472;
    padding: 10px 0; /* Задайте этот паддинг в зависимости от высоты вашего меню */
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 18px; /* Увеличиваем размер шрифта */
    /* font-weight: bold; */
}

.menu a:hover {
    background-color: #555;
}

.header {
    background-color: #add8e6;
    color: white;
    padding: 50px 0;
    text-align: center;
    font-size: 3em;
    margin-top: 40px; /* Дополнительный отступ сверху, чтобы убедиться, что заголовок виден */
}

.block, .block1 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.block:hover, .block1:hover {
    transform: scale(1.03);
}

.block img, .block1 img {
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 5px;
}

.block .text, .block1 .text {
    max-width: 600px;
}

.block {
    flex-direction: row-reverse;
}

.block1 {
    flex-direction: row;
}

.block-link {
    text-decoration: none;
    color: inherit;
}

.block-link:hover .block, .block-link:hover .block1 {
    transform: scale(1.03);
}

.content {
    padding-top: 60px;
    margin: 20px;
    line-height: 1.6;
}

.section_obr {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section_obr img {
    width: 200px;
    height: auto;
    margin-left: 20px;
}


.text {
    flex: 1;
}

.centered-text {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    margin: 40px auto;
    background-color: #1384a0;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #003580;
}







/* карьера css */


.main-title {
    text-align: left;
    font-size: 2.5em;
    margin: 20px 0;
    padding-left: 20px;
    color: #333;
}



.section, .section_2 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}

.section_2 img {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}


.section:nth-child(even) {
    flex-direction: row-reverse; /* Чередуем направление блоков */
}


.section_detstvo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section_detstvo img {
    width: 200px;
    height: auto;
    margin-left: 20px;
    border-radius: 5px;
}

.section_detstvo:nth-child(even) {
    flex-direction: row-reverse; /* Чередуем направление блоков */
}



.text {
    flex: 1;
    padding: 20px;
}

.highlight_2 {
    font-family: Arial, sans-serif;
}

.highlight_3 {
    font-family:  Georgia, serif;
}

.highlight_4 {
    font-family:  Verdana, sans-serif;
}

.table-container {
    margin-top: 40px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #add8e6;
}



@media (max-width: 768px) {
    .header {
        font-size: 2em; /* Уменьшаем размер заголовка */
        padding: 20px 0;
    }

    .menu a {
        font-size: 14px; /* Уменьшаем размер шрифта */
        padding: 8px 10px;
    }

    .block, .block1 {
        flex-direction: column; /* Изменяем расположение на вертикальное для мобильных устройств */
        padding: 20px;
    }

    .block img, .block1 img {
        width: 100%; /* Картинки на всю ширину экрана */
        margin-right: 0; /* Убираем маржин справа */
    }


    /* карьера css */

    .section_obr {
        flex-direction: column; /* Все элементы становятся один под другим */
    }

    .section_obr img {
        margin-left: 0; /* Убираем левый маржин */
    }



    .section_detstvo {
        flex-direction: column;
        text-align: center;
        }
    
    .section_detstvo img {
        margin-left: 0;
        margin-bottom: 20px;
        width: 80%;
        max-width: 80%;
        height: auto;
    }

    .section_detstvo:nth-child(even) {
        flex-direction: column;
        }

    .section, .section_2 {
    flex-direction: column;
    text-align: center;
    }

    .section img, .section_2 img {
    margin-left: 0;
    margin-bottom: 20px;
    width: 40%;
    max-width: 40%;
    height: auto;
    }

    .section:nth-child(even), .section_2:nth-child(even) {
    flex-direction: column;
    }

    .main-title {
    font-size: 2em;
    padding-left: 10px;
    }
}